<div class="section container">
  <div class="row">
  <div class="col s12 l4 offset-l8 pull-l4 center-align">
    <div class="input-field">
      <i class="material-icons prefix">email</i>
      <input type="email" [(ngModel)]="credentials.email" id="emailInput" name="email">
      <label for="emailInput">Email</label>
    </div>
    <div class="input-field" (keydown)="keyDown($event)">
      <i class="material-icons prefix">lock</i>
      <input type="password" [(ngModel)]="credentials.password" id="passwordInput" name="password">
      <label for="passwordInput">Password</label>
    </div>
    <div class="input-field center">
      <button class="btn light-green darken-3 white-text" (click)="signIn()">Sign In</button>
    </div>
    <div class="">New User? <a routerLink="/signUp" [queryParams]="{forwardTo: '' + forwardTo}">Create Account</a></div>
    <div class="" style="margin-top:1vw"><a routerLink="/forgotPassword">Forgot Password</a></div>
  </div>
  </div>
</div>
