<div class="section container">
  <div id="successDiv" class="hide">
  <h2 class="light-green-text text-darken-3 center">Email Verified!</h2>
  <div class="" id="messageDiv">
    <div class="row">
      <div class="center col s12 l8 offset-l4 pull-l2">
        Your email has been verified successfully.
      </div>
    </div>
    <div class="center">
      <a class="btn light-green darken-3 white-text" routerLink="/signIn">Sign In</a>
    </div>
    </div>
  </div>
  <div id="errorDiv" class="hide">
    <h2 class="red-text center">Something went Wrong!</h2>
    <div class="">
    <div class="row">
      <div class="center col s12 l8 offset-l4 pull-l2">
        The verification link is either broken or expired.
    </div>
    </div>
    </div>
  </div>
</div>