<div class="section container">
  <h1 class="light-green-text text-darken-3">About Us</h1>
  <div class="row">
    <div class="col s12 l8">
      <p class="flow-text">
      Lost and found box is a dedicated spot in public buildings 
      especially hotels or offices where people can go on to recover 
      lost items that may be found by other visitors. 
      </p>
      <p class="flow-text">
      This website (lostfoundtn.com) also caters to the similar purpose. 
      Here, people who have lost an item can post about it. 
      In turn, people who have found back the item can post here, 
      which will fasttrack easy retrieval of articles.
      This is an intiative of Tamil Society of Inventors and Ecofreaks.
      </p>
    </div>
  </div>
</div>