.side-nav-padded
{
    padding-left: 0px;
}

.sidenav
{
    padding-top: 0px;
}

.nav-z
{
    z-index: 9        
}

.sticky 
{
    position: fixed;
    top: 0;
}

.nav-offset
{
    width: 100%;
    height: 64px;
}