<div class="section container">
    <div class="row">
    <div class="col s12 l5">
      <div class="input-field">
        <i class="material-icons prefix">bookmark</i>
        <input type="text" id="titleInput" name="title">
        <label for="titleInput">Title</label>
        <span class="helper-text">For example, Blue hand bag</span>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">assignment</i>
        <textarea class="materialize-textarea" id="descriptionInput" name="description"></textarea>
        <label for="descriptionInput">Description</label>
        <span class="helper-text">Describe the item here, include specifics such as color, reference number, etc. Avoid sensitive informations</span>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">date_range</i>
        <input type="date" id="dateInput" name="date">
        <label for="dateInput">Date</label>
        <span class="helper-text">Lost or Found Date</span>
      </div>
      <div class="input-field light-green lighten-5 col s4 offset-s1">
        <select name = "lostOrFound" class="browser-default light-green lighten-5">
            <option value="" disabled selected>Lost or Found</option>
            <option value="Lost" class="red-text">Lost</option>
            <option value="Found" class="green-text">Found</option>
          </select>
      </div>

    </div>
    <div class="col s12 l5 center-align">
      <div class="input-field">
        <i class="material-icons prefix">person</i>
        <input type="text" id="nameInput" name="name">
        <label for="nameInput">Name</label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">email</i>
        <input type="email" id="emailInput" name="email">
        <label for="emailInput">Email</label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">lock_open</i>
        <input type="password" id="passwordInput" name="password">
        <label for="passwordInput">Password</label>
      </div>
      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input type="password" id="confirmPasswordInput" name="confirmPassword">
        <label for="confirmPasswordInput">Confirm Password</label>
      </div>
      <div class="input-field center">
        <button class="btn light-green darken-3 white-text">Sign Up</button>
      </div>
      </div>
    </div>
  </div>
  
