.image-holder
{
    width:16.67%;
    margin-left: 12.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.truncated
{
    max-width: 35vw;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-grid
{
    width:100%;
    display: grid;
    grid-template-columns: 35vw auto;
}

.custom-col
{
    display: inline-grid;
}

.claim-btn{
    margin-top: 1vw;
}

@media only screen and (max-width: 600px) {
    .image-holder
    {
        width: 70%;
    }
    .custom-grid
    {
        grid-template-columns: auto;
    }
    .category-tag
    {
        width:90%;
        margin-bottom: 1vw;
    }
  }
