.image-holder
{
    width:16.67%;
    margin-left: 12.5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.truncated
{
    max-width: 35vw;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}