/* You can add global styles to this file, and also import other style files */
.section
{
    padding-top:4vw;
    padding-bottom:4vw;
    min-height: 70vh;
}

.btn
{
    min-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.hide
{
    display: none !important
}

.ultimate-cover
{
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}