/* You can add global styles to this file, and also import other style files */
.section
{
    padding-top:4vw;
    padding-bottom:4vw;
    min-height: 70vh;
}

.btn
{
    min-width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}