<div class="section container">
  <h2 class="light-green-text text-darken-3 center">Terms and Conditions</h2>
  <p class="">This Terms of Use govern your use of the website, Content and the Services offered through
      www.lostfoundtn.com (“Site”). For the purpose of these Terms of Use, wherever the context so require
      ‘you’ or “your” or “user” shall mean any natural or legal person who has agreed to become a member of
      the Site by registering on the Site as registered user. Your access or use of the Site is subject to the
      terms and conditions of use as set out here (Terms of Use)
      Please note that by accessing or using the Site you agree to be bound to by the Terms of Use and the
      Terms of Use is a legally binding agreement between you and Tamil Society of Inventors and Ecofreaks.</p>
  <h4>Services</h4>
  <p>The Site provides the users a forum through which they can report any lost items or search for lost
      items. The Site is also a forum, on which finders can upload information relating to any lost items found
      by them or users to list items lost by them, enables a user to contact individuals who have information
      about a lost item and also enables an individual to contact the owner of a lost item (“Services”).
      Tamil Society of Inventors and Ecofreaks has set up and is the lawful owner of a website portal which
      provides a platform and forum for hosting data regarding the lost and found items (“Items”) in various
      malls, airports, stations and other defined public places in India (“Website”).
      </p>
  <h4>Duties of the Finder</h4>
  <p>1.1 The Finder shall upload the accurate and requisite information and details of all the Item found.
      1.2 The information uploaded shall be accurate in all respects and shall include details such as nature of
      the item, colour, size, material, among other details required to identify the Item.
      1.3 The possession of the Items shall remain with the Finder. The Finder is responsible for the custody
      and proper maintenance and upkeep of the Items.
      1.4 The Finder is responsible for and shall remain in charge of dealing with the claims made by a user as
      well as the verification, processing and handover requirements and procedures for all the Items
      uploaded onto the Website from the Account.
      1.5 The Finder shall
      (a) access and use the Service solely for its own internal business operations and shall not make the
      Services or materials or information resulting from the Services, available in any manner to any third
      party for use in the third party’s business or personal operations;
      (b) keep confidential the Account details and not disclose or share the same with a third party;
      (c) not share with or disclose or provide access to the Account or the Service or any information or
      material provided by Tamil Society of Inventors and Ecofreaks to any third party, in any manner,
      including through time sharing or revenue sharing arrangements or otherwise;
      (d) not sell, transfer, lease, encumber or assign, in whole or in part, the Service or the Account to any
      third party;
      (e) not alter, modify, adapt, reverse engineer, decompile, decrypt, or disassemble the software forming
      a part of the Website or Service or otherwise attempt to derive the processes or source code or modify,
      adapt, or create derivative works from such software and Service in any way or remove proprietary
      notices on the Website; and
      (f) abide by all laws and regulations applicable to its use of the Service and the Website.</p>
    <h4>Eligibility</h4>
    <p>Use of the Site is available only to persons who can form legally binding contracts under Indian Contract
        Act, 1872. If you are a minor and wish to use or transact on Site, such use or transaction may be made
        by your legal guardian or parents who are registered as users of the Site. We reserve the right to
        terminate your membership and refuse to provide you with access to the Site if it is brought to our
        notice or if it is discovered that you are not eligible to form legally binding contracts as per the
        applicable laws.</p>
    <h4>Use of the website</h4>
    <p>Tamil Society of Inventors and Ecofreaks hereby grants you the right to access and use the Site only for
        the purposes of availing the Services. The information that you share on the Site is solely at your
        discretion and you assume complete responsibility for the same. If you choose to meet, interact or
        otherwise deal with a third party whether such third party contacted you or you contacted the third
        party via the Site, you do so at your own risk. You are however, advised to exercise due caution while
        meeting or dealing with any third party you come into contact with through this Site. You expressly
        acknowledge and agree that the Tamil Society of Inventors and Ecofreaks does not assume any
        responsibility or liability for any action or non-action of such third party. You are entirely responsible for
        all information, data, text, software, photographs, graphics, video, messages or other materials
        ("Content") that you upload, post, email, transmit or otherwise make available on the Site. The Tamil
        Society of Inventors and Ecofreaks does not control the Content posted on the Site and, as such, does
        not guarantee the accuracy, integrity or quality of such Content. You understand that by using the
        Service, you may be exposed to Content that is offensive, indecent or objectionable. Under no
        circumstances will Tamil Society of Inventors and Ecofreaks be liable in any way for any Content,
        including, but not limited to, for any errors or omissions in any Content, or for any loss or damage of any
        kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made
        available on the Site. As a condition of your use of the Site, you will not use the Site for any purpose that
        is unlawful or prohibited by these Terms of Use or by any domestic or international laws, statutes,
        ordinances and regulations. Your use of site is your sole responsibility. You shall not host, display,
        upload, modify, publish, transmit, update or share any information on the Site, that —
        a. belongs to another person and to which you do not have any right;
        b. is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous,
        invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or
        encouraging money laundering or gambling, or otherwise unlawful in any manner;
        c. involves the transmission of "junk mail," "chain letters," or unsolicited mass mailing or "spamming” or
        unsolicited commercial advertisement.
        d. harm minors in any way;
        e. infringes any patent, trademark, copyright or other proprietary rights;
        f. violates any law for the time being in force;
        g. deceives or misleads the addressee about the origin of such messages or communicates any
        information which is grossly offensive or menacing in nature;
        h. impersonate another person
        i. contains software viruses or any other computer code, files or programs designed to interrupt, destroy
        or limit the functionality of any computer resource.
        Content posted by you shall be subject to relevant laws and may be disabled, or and may be subject to
        investigation under appropriate laws. You agree that the Tamil Society of Inventors and Ecofreaks may
        disclose or preserve Content if required to do so by law or in the good faith belief that such preservation
        or disclosure is reasonably necessary to: (a) comply with legal process; (b) respond to claims that any
        Content violates the rights of third-parties; or (c) protect the rights, property, or personal safety ofthe
        Company and the public. Furthermore, if you are found to be in non-compliance with the laws and
        regulations, these Terms of Use, or the privacy policy of the Site, we may terminate your account/block
        your access to the Site and we reserve the right to remove any of the Content that is non-compliant with
        these Terms of Use.
        You agree that Company has no liability or responsibility for the storage or deletion of any Content and
        reserves the right to change its general practices and limits at any time in its sole discretion, with or
        without notice.</p>
    <h4>Disclaimer</h4>
    <p>The Site, all the materials and products (including but not limited to software) and Services, included on
        or otherwise made available to you through this Site are gathered from a variety of sources and are
        intended solely as general information and provided on “as is” and “as available” basis without any
        representation or warranties, express or implied except otherwise specified in writing. They do not
        constitute advice and should not be relied upon in making (or refraining from making) any decision. Any
        specific advice or replies to queries in any part of the Site is/are the personal opinion of such
        experts/consultants/persons and does not constitute or indicate our endorsement, representation or
        warranty of such information and are not subscribed to by this Site. Without prejudice to the forgoing
        paragraph, Tamil society of Inventors and Ecofreaks does not warrant that:
        • The Site will be constantly available, or available at all; or
        • The information on the Site is complete, legal, true, accurate or non-misleading.
        1.1 In addition to the covenants and obligations set out above, Tamil society of Inventors and Ecofreaks
        makes no warranty whatsoever with respect to ensuring the
        (a) Rightful placement of any and all Items listed on the Website by the Owner,
        (b) veracity, accuracy and quality of the information relating to the Items or details of the users of the
        Website,
        (c) the review or updation of information on the Items on a regular basis,
        (d) possession, custody and proper maintenance of the Items,
        (e) authenticity of the claims lodged by such users and the due and proper ownership and transfer of
        Items,
        (f) fool-proof standard of verification procedures adopted by the Owner, and
        (g) proper and correct processing of such claims and handover of Items, including in relation to multiple
        or conflicting claims,
        and hereby expressly disclaims all responsibility and liability with respect to the same.
        The Owner acknowledges and shall continue to remain responsible and liable in this regard and shall
        indemnify, defend and hold Tamil society of Inventors and Ecofreaks harmless from and against all
        claims, liabilities, losses, damages, costs, actions, and expenses of whatever nature (including legal
        costs) which may arise against it in this regard.
        1.2 The Owner shall also indemnify, defend and hold Tamil society of Inventors and Ecofreaks harmless
        against all claims, liabilities, losses, damages, costs, actions, expenses of whatever nature which may
        arise against it as a result of or in connection with any loss, injury (including death) or damage to any
        persons, resulting from the breach of its obligations under this Agreement.</p>
    <h4>Assumption of Risk</h4>
    <p>You may be contacted by individuals or entities who are in possession of any of your lost item or you
        may contact the owner of a lost item in your possession via this Site. You acknowledge that Tamil society
        of Inventors and Ecofreaks merely provides a platform to an owner of a lost item and the finder of a lost
        item to find each other to reunite the owner with the lost item. We do not provide any lost and found
        service nor are we involved in exchange of lost and found items or information. We have no control over
        the quality, safety, legitimacy, truth or accuracy of the items listed or advertised. We do not provide any
        assurance or guarantee that the user will be able to find the lost item or that any third party that you
        contact or has contacted you through this Site will act in good faith. In the event you choose to contact,
        interact or deal with any of these individuals or entities or share any personal or other information with
        such parties, you do so at your own risk and responsibility and Company shall not be responsible for any
        harm, loss or damage caused to you as a result of such dealings. However, we urge you to exercise
        caution and take appropriate measures to protect your security and safety at all times.</p>
    <h4>Rewards</h4>
    <p>If any user advertises a reward for the finder of a lost item in the listing of lost items, payment of such
        reward is sole responsibility of the person listing, the Company assumes no responsibility for payment or
        non-payment of the reward.</p>
    <h4>International Use</h4>
    <p>This Site is controlled and operated from within India. Company makes no representation that the Site is
        appropriate or available in locations outside the India. Those who choose to access the Site from other
        locations do so at their own risk and are responsible for compliance with applicable laws.</p>
    <h4>Limitation of Liability</h4>
    <p>You agree that company shall not be liable for any direct, special, incidental, indirect or consequential
        damages of any kind in connection with this agreement or your use of site, even if company has been
        informed in advance of the possibility of such damages.</p>
    <h4>Indemnity</h4>
    <p>You agree to indemnify, defend and hold Tamil society of Inventors and Ecofreaks, its officers, directors,
        employees, affiliates or representatives harmless from any claim or action (including legal expenses)
        arising out your use of the Site, your breach of the Terms of Use and violation of any third party
        intellectual property rights or privacy.</p>
    <h4>Applicable Law</h4>
    <p>This Agreement shall be governed by and interpreted and construed in accordance with the laws of
        India. The place of jurisdiction shall be exclusively in Chennai. Notwithstanding the foregoing, we
        reserve the right to pursue any action or claim against you in any court of competent jurisdiction which
        we believe is the most appropriate to seek any relief.</p>
    <h4>Entire agreement</h4>
    <p>The Terms of Use and Privacy Policy, as amended from time to time, constitute the entire agreement
        between you and Tamil society of Inventors and Ecofreaks. If any provision of these Terms of use is
        considered unlawful, void, or for any reason unenforceable, then that provision shall be deemed
        severable from these Terms of Use and shall not affect the validity and enforceability of any remaining
        provisions.</p>
    <h4>Changes to Terms of Use</h4>
    <p>We reserve the right, to modify these Terms of Use at any time. Any changes to Terms of Use will be
        posted on the Site and your continued use of the Site following a posting of changes is your agreement
        to the changes and you are bound by the then-current version of these Terms of Use. If any changes to
        these Terms are unacceptable to you, you must discontinue use of the Website. We reserve the right to
        suspend or deny, in our sole discretion, your access to all or any portion of the Site, including for any
        violation of any provision of these Terms of Use. We also reserve the right to change the Site without
        notice to you, at any time.</p>
    <h4>Termination</h4>
    <p>We reserve the right, at our discretion, to immediately, with or without notice, suspend or terminate
        your registration, the Terms of Use, and/or your access to all or a portion of the Site and/or remove any
        registration information or Content from the Site, for any reason. Upon termination or expiration of the
        Terms of Use, your obligations and Tamil society of Inventors and Ecofreaks’s rights and disclaimers
        survive, but your right to use the Site immediately ceases. Any express waiver or failure to exercise
        promptly any right under the Terms of Use will not create a continuing waiver or any expectation of
        non-enforcement.</p>
    <div class="center">
    <a routerLink='/signUp' class="btn center">Close</a>
  </div>
</div>