.section
{
  padding-top: 6vw;
  padding-bottom: 4vw; 
}

@media only screen and (max-width: 600px) {
  .row
  {
    display: grid
  }
}

.box

{

  margin-left: auto;
  margin-right: 0;
}

button
{
  font-family: 'Aclonica';

}