
<div class="section container">
  <div class="row">
  <div class="col s12 l6 hide-on-med-and-down valign-wrapper">
    <img src="../../assets/images/itemBox.jpg" alt="" class="responsive-img">  
  </div>  
  <div class = "col s12 l3 offset-l2">
    <div class="card">
        <div class="card-image">
            <img class="responsive-img" src ="../../assets/images/lostItem.jpg"/>
        </div>
        <div class="card-content">
            <span class="card-title">Lost Something?</span>
            <button class="btn red">Describe your Item</button>
        </div>
    </div>
  </div>
  <div class = "col s12 l3">
    <div class="card">
        <div class="card-image">
            <img class="responsive-img" src ="../../assets/images/foundItem.jpg"/>
        </div>
        <div class="card-content">
            <span class="card-title">Found Something?</span>
            <button class="btn green">Post an Item</button>
        </div>
    </div>
  </div>
  </div>
</div>